h1 {
  margin: 0;
  padding-top: 40px;
}
html {
  scroll-behavior: smooth;
}
#name {
  font-size: 3em;
  text-align: start;
  margin: 0;
  padding: 0;
}

#tagline {
  display: flex;
  font-size: 1.6em;
  flex-wrap: wrap;
  position: relative;
}

@keyframes rotateWords {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
    height: 0px;
  }
  8% {
    opacity: 1;
    height: 60px;
  }
  25% {
    opacity: 1;
    height: 60px;
  }
  35% {
    opacity: 0;
    height: 60px;
  }
  100% {
    opacity: 0;
  }
}

.strike {
  text-decoration: line-through;
}
.highlight {
  color: crimson;
}

.fullpage {
  height: 100vh;
}

.sectionHeader {
  margin: 0 auto;
  margin-top: 40px;
  padding: 0 80px;
  max-width: 1000px;
}

.thinSection {
  margin: 0 auto;
  padding: 20px 80px;
  max-width: 1000px;
}

.wideSection {
  margin: 0 auto;
  padding: 0 40px;
}
.wideSectionContent {
  margin: 20px auto;
  padding: 20px 40px;
  max-width: 1000px;
  border-radius: 4px 64px;
  border: 4px solid #1a1a1a;
}

@media only screen and (max-width: 610px) {
  .sectionHeader {
    padding: 0 20px;
  }
  .thinSection {
    padding: 20px 20px;
  }

  .wideSection {
    padding: 0px;
  }
  .wideSectionContent {
    padding: 20px 24px;
    border-radius: 0;
    border-left: none;
    border-right: none;
  }
}

.homeContent {
  /* padding-top: 220px;
   */
  position: absolute;
  margin: auto;
  height:400px;
  top: 0; left: 0; bottom: 0; right: 0;
}

.bounce {
  padding: 24px;
  position: absolute;
  color: #333333;
  bottom: 5%;
  left: 0;
  right: 0;
  text-align: center;
}

.bounceIcon {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.rotatingText {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s
    infinite;
  margin-left: 0.25em;
  border-right-style: solid;
}

@keyframes blinking-cursor {
  from {
    border-right-color: #666;
  }
  to {
    border-right-color: transparent;
  }
}

.particles {
  position: fixed;
  z-index: -1;
}

.projectImg {
  width: 60%;
  height: auto;
  flex-grow: 1;
}
.projectDesc {
  flex-grow: 1;
  width: 220px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projectDesc ul {
  list-style-type: none;
  flex-shrink: 1;
  margin-bottom: 0;
}
.projectDesc li {
  padding-left: 1em;
  text-indent: -1em;
}
.projectDesc li::before {
  font-weight: 900;
  content: "+";
  padding-right: 5px;
}

.flexContent {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  /* text-align: center; */
}

.iconButton {
  color: crimson;
  text-decoration: none;
  padding: 12px;
  font-size: 2.5em;
}

.iconButton:hover {
  color: black;
}

.linkButton {
  background-color: crimson; /* Green */
  border: none;
  color: white;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.linkButton:hover {
  background-color: white;
  color: black;
  border: 2px solid crimson;
}

img {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
