
.name{
    font-size: 5em;
    color: crimson;
    text-align: start;
}

#tagline{
    text-align: center;
    display: flex;
    font-size: 2em;
    flex-wrap: wrap;
    position: relative;
}

.rotating{
    /* display:inline; */
    text-align: center;
    color:crimson;
}

.rotating span{
    background-color: beige;
    animation: rotateWords 9s linear infinite 0s;  
    position: absolute;
    opacity: 0; 
    margin-inline-start: .25em;
    /* text-align: start; */
    width:max-content;
    /* height: min-content; */
}

.rotating span:nth-child(2){
    animation-delay: 3s;
}
.rotating span:nth-child(3){
    animation-delay: 6s;
}

@keyframes rotateWords {
    0% { opacity: 0; animation-timing-function: ease-in; height: 0px; }
    8% { opacity: 1; height: 60px; }
    25% { opacity: 1; height: 60px; }
	35% { opacity: 0; height: 60px; }
    100% { opacity: 0; }
}


.absoluteContainer{
    position: relative;
}

.homeContent{
    padding:200px 0;
    width: 75vw;
    /* height:100vh; */
    margin: auto;
    text-align: start;
}

.section{
    width: 75vw;
    margin: auto;
    padding:0px 1.0875rem 1.45rem;
}