.content{
    margin: 0 auto;
    /* width: 50vw; */
}
.footer{
  font-size: 0.75em;
  text-align:right;
}

/* @media only screen and (max-width: 800px) {
    .content {
      width:90vw;
    }
  } */