body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    overflow:hidden;
    -ms-overflow-style: none;
  }

  
  .scroll_container{
    max-height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;

    -ms-scroll-snap-y: mandatory snapInterval(0, 100%);
  }
  .scroll_container::-webkit-scrollbar {
    width: 0;
    height:0;
  }